:root {
    font-size: 16px;
    font: 1rem "Figtree", sans-serif;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
    --accent-50: #fffcea;
    --accent-100: #fff7c5;
    --accent-200: #ffef87;
    --accent-300: #ffe048;
    --accent-400: #ffcf1e;
    --accent-500: #fcae04;
    --accent-600: #e68800;
    --accent-700: #b95c04;
    --accent-800: #96470a;
    --accent-900: #7b3a0c;
    --accent-950: #471d01;
    --foreground: #222;
    --background: #fefefe;
}

[class^="container--"] {
    padding: 1rem;
    margin-inline: auto;
}

.container--sm {
    max-width: var(--sm);
}
.container--md {
    max-width: var(--md);
}
.container--lg {    
    max-width: var(--lg);
}
.container--xl {
    max-width: var(--xl);
}
.container--xxl {
    max-width: var(--xxl);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montagu Slab', serif;
}

/* visually-hidden and visually-hidden-focusable: from bootstrap */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
    position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus):not(:focus-within) * {
    overflow: hidden !important;
}
.hexes {
    --s: 1.5rem; /* control the size*/
    --c1: var(--accent-600);
    --c2: var(--accent-400);

    --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
    --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
    --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
    --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
    background:
        var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
        var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
}
